nav {
  position: fixed;
  height: 110px;
  width: 100%;
  z-index: 1000;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
} 

nav p {
  float: right;
}