/* Nav Styling */
.main-nav {
  position: absolute;
  height: 120px;
  width: 100%;
  z-index: 1000;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
} 

#new-tweet-toggle {
  background: none;
  border: none;
  color: #fff;
  margin-top: 8px;
  font-size: 0.9em;
  cursor: pointer;
}
#new-tweet-toggle svg {
  height: 36px;
  fill: #fff;
  margin-top: -4px;
  animation: float 1s eas-in-out infinite;
}

#new-tweet-toggle:hover svg {
  height: 36px;
  fill: #fff;
  margin-top: -4px;
  animation: float 1s ease-in-out infinite;
}

/* Animation */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(4px);
	}
	100% {
		transform: translatey(0px);
	}
}
/* Media Queries */
@media (min-width: 1024px) {
  .main-nav {
    background-color: rgb(170, 183, 230);
    position: fixed;
  }
} 