textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid rgb(170, 183, 230);
  background: none;
  resize: none;
  height: 1.8em;
}

.new-tweet--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-submit {
  background-color: rgb(170, 183, 230);
  color: #fff;
  font-family: 'Bungee', sans-serif;
  padding: 4px 8px;
  font-size: 0.8em;
  cursor: pointer;
}

.counter {
  font-family: 'Bungee', sans-serif;
} 