.tweet {
  border: 3px solid #979797;
  padding: 16px;
  position: relative;
  background-color: #f4f1ec;
  margin: 24px 0;
}

.tweet:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: #c5cce2;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tweet:hover footer svg{
  visibility: visible;
}

.tweet--profile {
  display: flex;
  align-items: center;
}

.tweet--profile img {
  margin-right: 16px;
    height: 36px;
}

.tweet:hover .tweet--handle {
  display: inline;
}

.tweet--handle {
  display: none;  
  flex: 1;
  text-align: right;
  color: #c5cce2;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #979797;
  padding-top: 8px;
  font-size: 0.6em;
}

.tweet footer svg {
  height: 16px;
  fill: rgb(170, 183, 230);
  visibility: hidden;
} 